- if @multiple
  .form-group
    = @form.label @key, @label, class: 'block text-sm font-medium leading-6 text-sm text-shadowy-200 mb-1'
    %select{multiple: true, name: @key, id: @id, data: {controller: 'slim-multiple', placeholder: @placeholder, disabled: @disabled, search_text: t('labels.no_results'), search_placeholder: t('labels.search'), show_search: @showSearch, **@data}, class: "multiselect-#{@key}", style: @style}
      %optgroup{label: @placeholder, data: {selectall: "true", selectalltext: t('forms_controller.select_all_label')}}
        = @options_for_select

- else
  .form-group
    = @form.label @key, @label, class: 'block text-sm font-medium leading-6 text-sm text-shadowy-200 mb-1'
    = @form.select @key, @options_for_select, { include_blank: @placeholder }, { disabled: @disabled, data: { controller: 'slim', placeholder: @placeholder, disabled: @disabled, search_text: t('labels.no_results'), search_placeholder: t('labels.search'), show_search: @showSearch, **@data}, style: @style }

- if @model&.errors&.[](@key)&.present?
  .text-red-500.text-sm
    = @model.errors[@key].first
- else
  - unless @info_message.blank?
    %span.text-xs.text-shadowy-200.flex.justify-start
      = render BootstrapIconWithTextComponent.new(icon: 'info-circle', extra_classes: 'text-xs', text: @info_message, text_extra_classes: 'text-xs', button_extra_classes: 'mt-2')